<div class="footer_bg">
  <div class="container-fluid text-white">
    <div class="row">
      <div class="col-12">
        <div class="footer_txt">
          <div class="copyright"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="footer_txt">
          <div class="copyright">
            <h6>
              Copyright © - {{ currentDate }} Paras Joshi All rights reserved.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
